{% extends "base.html" %}

{% block title %}
{{ title }} :: {{ block.super }}
{% endblock %}

{% block sidebar %}

{% include 'inc/_sidebar.html' %}

{% endblock %}

{% block content %}
{% for post in posts %}
<div class="card mb-3">
    <div class="card-header">
        Категория: <a href="{{ post.category.get_absolute_url }}">   {{ post.category }}</a>
    </div>
    <div class="card-body">
        <div class="media">
            {% if post.photo %}
            <img src="{{ post.photo.url }}" alt="" height="250" width="250" class="mr-3 rounded-0">
            {% else %}
            <img src="/static/img/news.svg" alt="" height="250" width="250" class="mr-3 rounded-0">
            {% endif %}
            <div class="media-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.content|safe|linebreaks|truncatewords:50 }}</p>
                <a href="{{ post.get_absolute_url }}" class="btn btn-primary">Read more...</a>
            </div>
        </div>
    </div>
    <div class="card-footer text-muted">
        {{ post.created_at|date:"Y-m-d H:i:s" }}
    </div>
</div>
{% endfor %}

{% endblock %}